html{
    font-size: 16px;
    font-family: lato, arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

header, section, footer{
    padding: 20px 0;
}

.container{
    margin: 0 auto;
    max-width: 1024px;
}

.cards-setting .card{
    display: inline-block;
    width: 29.5%;
    margin-bottom: 20px;
    font-size: 16px;
    margin-right: 2%;
}

.card .card__img-setting{
    position: relative;
}

.card .card__main-img{
    position: absolute;
    top: 0;
    left: 0;
}

.card__img-setting:hover .card__main-img{
    visibility: hidden;
}

.card .card__like-button{
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 30px;
    text-align: center;
    line-height: 40px;
}

.card__badge-setting{
    position: absolute;
    bottom: 30px;
    left: 0;
    color: white;
}

.card__badge-wrapper .badge{
    color: white;
    font-weight: 600;
    padding: 4px 6px;
}
.badge--sale{
    background-color: red;
    padding: 2.5px;
}

.badge--category{
    background-color: green;
    padding: 2.5px;
}

.card_price .sale{
    font-weight: bolder;
    color: red;
}
.card_price .price{
    font-weight: normal;
}



/*.container{
    width: 1024px;
    max-width: 100%;
}*/



/*Debug
.settings .container{
    border: 2px solid black;
    padding: 20px;
}

.settings .card{
    border: 2px dashed red; 
}

.settings .card__info{
    border: 1px double blue;
}*/